<div class="panel panel-default">

    {{#if label}}
        <div class="panel-heading">{{{label}}}</div>
    {{/if}}


    <div class="panel-body">
        <form class="form">
            {{#each field in fields}}
                <div class="form-group">
                    <label {{bind-attr for="field.meta.name"}} class="control-label">
                        {{field.meta.label}}
                    </label>
                    <div class="">
                        {{dynamic-component
                            type=field.meta.formWidgetComponentName
                            field=field
                            currentController=currentController}}
                    </div>
                </div>
            {{/each}}
        </form>

        {{#unless isEmbedded}}
            <div class="btn-group btn-group-md" role="group">
                <button class="btn btn-default" {{action 'cancel'}}>cancel</button>
                <button class="btn btn-primary" {{action 'save'}}>save</button>
            </div>
        {{/unless}}

    </div>
</div>
